
.card-body {
    min-height: 50px; 
    padding: 20px;
}


.task-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: move; 
}


.task-card.overdue {
    background-color: rgb(250, 53, 53);
    padding: 10px;
}

.task-card.almost-due {
    background-color: rgb(248, 250, 116);
    padding: 10px;
}


.task-placeholder {
    background-color: #f0f0f0;
    border: 1px dashed #ddd;
    min-height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}
